* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  font-size: 12px;
  color: rgb(255, 254, 239);
  background-color: #161b22;
}

body{
  margin: 0px;
  padding: 0px;
  display: grid;
  height: 100vh;
  grid-template-rows: 30px 35px auto 17px;
}


header{
  text-align: center;
}
header span{
  margin-top: 0px;
  padding: auto;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
header img{
  margin-top: 5px;
  height: 17px; 
  width: 17px;
}


nav{
  text-align: center;
}

nav li{
  margin-top: 5px;
  display: inline-block;
}

nav li a {
  margin: 0px;
  padding: 5px;
	display: block;
  width: 100px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;  
}

nav li:hover, a:hover{
  background: radial-gradient(#52104e, #1678f8);
}



footer {
  margin-top: 1px;
  font-size: 12px;
  justify-content: center;
  text-align: center;
}
footer a {
  font-size: 12px;
  text-decoration: none;
  color: #1678f8;
}



main{
  background-color: rgb(184, 33, 189);
}

a {
  text-decoration: none;
  color: #1678f8;
} 