body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  background-color: #1F2833;
  color: rgb(219, 219, 219);
}

header {
  font-size: 12px;
  height: 15px;
  background-color: #0B0C10;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  font-size: 8px;
  height: 10px;
  background-color: #0B0C10;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #66FCF1;
}

a:visited {
  color: #66FCF1;
} 
