body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  background-color: rgb(41, 41, 41);
  color: rgb(219, 29, 29);
}
header {
  font-size: 12px;
  background-color: black;
}
footer {
  font-weight: bold;
  font-size: 10px;
  background-color: black;
  text-align: center;
  height: 15px;
}
a {
  color: white;
}
a:visited {
  color: white;
} 
