html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  background-color: #0d1117;
  color: rgb(219, 219, 219);
}



img{
  height: 15px; 
  width: 15px
}

header {
  font-size: 16px;
  height: 24px;
  background-color: #161b22;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {  
  flex-grow: 1;
}

footer {
  font-size: 10px;
  height: 12px;
  background-color: #161b22;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #2581f7;
  margin-left: 4px;
  margin-right: 4px;
}

a:visited {
  color: #2581f7;
  margin-left: 4px;
  margin-right: 4px;
} 
