<header>
    <a href="https://roshchinmu.github.io/" title="На главную">ROSHCHINMU.GITHUB.IO</a>
    | Рощин Михаил | Справочник | Контакты:
    <a href="https://github.com/RoshchinMU" title="GitHub" target="_blank"><img src="/img/github_32x32.png"></a>
    <a href="https://hub.docker.com/u/mikhailru" title="Docker Hub" target="_blank"><img src="/img/docker_32x32.png"></a>
    <a href="https://t.me/RoshchinMikhail" title="Telegram" target="_blank"><img src="/img/telegram_32x32.png"></a>
</header>